.advantages {
	display: flex;
	justify-content: space-between;
	gap: $content-gap-large;
	margin-bottom: $block-margin-desktop;

	&__welcome {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	&__welcome-text {
		font-family: 'Noto Sans';
		font-weight: 600;
		font-size: 28px;
		line-height: 120%;
		color: $color-dark-blue;
		max-width: 470px;
	}

	&__button {
		@include button-desktop;
	}

	&__statistics {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 70px;
	}

	&__statistics-text {
		@include p-desktop;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(140px, 270px));
		grid-template-rows: repeat(2, minmax(77px, 51px));
		gap: $content-gap-large;
	}

	&__element {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__number {
		line-height: normal;
		@include accent-numbers-desktop;
		line-height: 0.8;
	}

	&__number-text {
		@include caption-hint-desktop;
	}
}