.advantages {
	display: flex;
	justify-content: space-between;
	gap: $content-gap-large;
	margin-bottom: $block-margin-desktop;

	&__welcome {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	&__welcome-text {
		font-family: 'Noto Sans';
		font-weight: 600;
		font-size: 28px;
		line-height: 120%;
		color: $color-dark-blue;
		max-width: 470px;
	}

	&__button {
		@include button-medium-design;
	}

	&__statistics {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 70px;
	}

	&__statistics-text {
		@include text-desktop;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $content-gap-large;
	}

	&__element {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__number {
		line-height: normal;
		@include accent-numbers-desktop;
		line-height: 0.8;
	}

	&__number-text {
		@include caption-hint-desktop;
	}
}


//media laptop
@media (max-width: $container-desktop) {
	.advantages {
		margin-bottom: $block-margin-laptop;

		&__welcome {}

		&__welcome-text {
			font-size: 24px;
		}

		&__button {
			@include button-small-design;
		}

		&__statistics {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 70px;
		}

		&__statistics-text {
			@include text-laptop;
		}

		&__grid {}

		&__element {}

		&__number {}

		&__number-text {}
	}
}

//media tablet-portrait
@media (max-width: $container-laptop) {
	.advantages {
		margin-bottom: $block-margin-tablet;
		gap: $content-gap-medium;

		&__welcome {}

		&__welcome-text {
			font-size: 18px;
		}

		&__button {
			@include button-small-design;
		}

		&__statistics {
			gap: 60px;
		}

		&__statistics-text {
			@include text-tablet;
		}

		&__grid {
			gap: $content-gap-medium;
		}

		&__element {}

		&__number {
			@include accent-numbers-tablet;
		}

		&__number-text {
			@include caption-hint-tablet;
		}
	}
}

//media phone-landscape
@media (max-width: $container-tablet-portrait) {
	.advantages {
		gap: $content-gap-small;

		&__welcome {}

		&__welcome-text {
			font-size: 15px;
		}

		&__button {}

		&__statistics {
			gap: 40px;
		}

		&__statistics-text {}

		&__grid {
			gap: $content-gap-small;
		}

		&__element {}

		&__number {
			@include accent-numbers-phone;
		}

		&__number-text {
			@include caption-hint-tablet;
		}
	}
}

//media phone
@media (max-width: $container-phone-landscape) {
	.advantages {
		margin-bottom: $block-margin-mobile;
		gap: 0;
		flex-direction: column;
		position: relative;

		&__welcome {
			height: 285px;
		}

		&__welcome-text {
			font-size: 14px;
		}

		&__button {}

		&__statistics {
			position: absolute;
			top: 95px;
			gap: 40px;
		}

		&__statistics-text {
			display: none;
		}

		&__grid {
			gap: $content-gap-small;
		}

		&__element {}

		&__number {
			@include accent-numbers-phone;
		}

		&__number-text {
			@include caption-hint-tablet;
		}
	}
}