.footer {
	display: flex;
	flex-direction: column;

	&__container {

		display: flex;
		justify-content: space-between;
		border-top: 1px solid rgba(0, 0, 0, 0.16);
		padding-top: 30px;
	}

	&__content {
		& a {
			@include text-desktop;
		}
	}

	&__nav {}

	&__h6 {
		font-size: 13px;
		color: $color-black;
		padding-bottom: 12px;
	}

	&__nav-list {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__nav-element {}

	&__adress-box {
		display: flex;
		flex-direction: column;
		gap: 2px;
		max-width: 193px;
	}

	&__adress {
		@include text-desktop;
	}

	&__socials-block {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__socials-list {
		padding-top: 6px;
		display: flex;
		gap: 9px;
	}

	&__socials-item {}

	&__politicy {
		align-self: center;
		margin-top: 40px;
		margin-bottom: 60px;
		font-family: 'Noto Sans';
		font-weight: 400;
		font-size: 14px;
		text-decoration: underline;
		color: $color-black;
		opacity: 0.6;
	}
}


.logo {
	&_bottom {
		align-self: flex-start;
	}
}

.phone-number {}

.phone-number-bottom {}


//media laptop
@media (max-width: $container-desktop) {
	.footer {

		&__adress,
		&__nav-element a {
			@include text-laptop;
		}

		&__content {
			& a {
				@include text-laptop;
			}
		}

		&__adress-box {
			max-width: 180px;
		}
	}
}

//media tablet-portrait
@media (max-width: $container-laptop) {
	.footer {

		&__adress,
		&__nav-element a {
			@include text-tablet;
		}

		&__content {
			& a {
				@include text-tablet;
			}
		}

		&__adress-box {
			max-width: 152px;
		}

		&__politicy {
			font-size: 13px;
		}
	}
}

//media phone
@media (max-width: $container-phone-landscape) {
	.footer {

		&__adress,
		&__nav-element a {
			@include text-phone;
		}

		&__container {
			flex-direction: column;
			gap: 24px;
		}

		&__adress-box {
			max-width: unset;
			gap: 5px;
		}

		&__socials-block {
			gap: 5px;
		}

		&__nav-list {
			gap: 0;
		}

		&__h6 {
			padding-bottom: 4px;
		}
	}
}