.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: $content-gap-large;
	margin-bottom: $block-margin-desktop;

	& input[type="text"],
	& input[type="tel"],
	& input[type="email"] {
		@include input-style;
	}

	&__title {
		@include h3-desktop;
	}

	&__image {
		border-radius: $border-radius;
	}

	&__form {
		grid-area: 1 / 2 / span 2 / 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__input-box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: $content-gap-large;
		row-gap: 20px;
	}

	&__input {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__input-box div:nth-child(3),
	&__input-box div:nth-child(4) {
		grid-column: span 1;
	}

	&__label {
		@include caption-label-desktop;
	}

	&__button-box {
		display: flex;
		justify-content: space-between;
	}

	&__checkbox-box {
		@include caption-hint-desktop;

		& label {
			display: flex;
			align-items: flex-start;
			gap: 6px;
		}
	}

	&__input-text {
		opacity: 0.3;
		max-width: 300px;
	}

	&__button {
		@include button-medium-design;
	}

	&__politicy {
		text-decoration: underline;
		@include caption-hint-desktop;
	}
}

// стили для чекбокса в _globals.scss по поиску "стили для чекбокса"