.header {

	&__inner {
		padding: 20px 0 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {}

	&__logo {}

	&__ul {
		display: flex;
		gap: 24px;
	}

	&__li {}

	&__a {
		font-family: 'Noto Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: $color-black;
	}
}

.phone-number {

	&_top {
		color: $color-dark-blue;
		font-weight: 700;
	}
}

#burger {
	position: absolute;
	right: 99999px;
	visibility: hidden;
}

.burger {
	display: none;
}

.burger-box {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.burger-1,
.burger-2,
.burger-3 {
	height: 2px;
	width: 20px;
	border-radius: 50px;
	background-color: $color-dark-blue;
	transition: 0.3s;
}

#burger:not(:checked)+label .burger-1 {
	transform: translateY(300%) rotate(45deg);
}

#burger:not(:checked)+label .burger-2 {
	transform: rotate(-45deg);
	scale: 0;
	opacity: 0;
}

#burger:not(:checked)+label .burger-3 {
	transform: translateY(-300%) rotate(-45deg);
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}

	.phone-number_top,
	.header__nav {
		display: none;
	}

	.header {

		&__inner {
			padding: 10px 0 0 0;
		}
	}
}