.intro {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: $block-margin-desktop;
	position: relative;

	&__title {
		@include h1-desktop;
		position: absolute;
		top: 143px;
		left: calc(50% - $container-desktop / 2);
		right: calc(50% - $container-desktop / 2);
		text-align: center;
		z-index: 1;
		line-height: 1;
		max-width: $container-desktop;
	}

	&__slogan {
		width: 231px;
		@include text-desktop;
	}

	&__image-box {

		&_desktop,
		&_laptop,
		&_tablet-portrait,
		&_phone-landscape,
		&_phone {
			position: relative;
		}

		&_laptop,
		&_tablet-portrait,
		&_phone-landscape,
		&_phone {
			display: none;
		}
	}

	&__image {
		border-radius: $border-radius;
	}

	&__sail {

		&_desktop,
		&_laptop,
		&_tablet-portrait,
		&_phone-landscape,
		&_phone {
			position: absolute;
			z-index: 10;
		}

		&_desktop {
			top: 135px;
			left: 115px;
		}

		&_laptop {
			top: 75px;
			left: 93px;
		}

		&_tablet-portrait {
			top: 49px;
			left: 70px;
		}

		&_phone-landscape {
			top: 20px;
			left: 60px;
		}
	}

	&__signup {
		@include button-medium-design;
	}
}

@media (max-width: $container-desktop) {
	.intro {
		margin-bottom: $block-margin-laptop;

		&__title {
			@include h1-laptop;
			left: calc(50% - $container-laptop / 2);
			right: calc(50% - $container-laptop / 2);
		}

		&__slogan {
			@include text-laptop;
			width: 219px;
		}

		&__image-box {

			&_desktop,
			&_tablet-portrait {
				display: none;
			}

			&_laptop {
				display: block;
			}
		}

		&__signup {
			@include button-small-design;
		}
	}
}

@media (max-width: $container-laptop) {
	.intro {
		margin-bottom: $block-margin-tablet;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		gap: 25px;
		height: 430px;

		&__title {
			@include h1-tablet;
			text-align: left;
			top: 85px;
			max-width: $container-tablet-portrait;
			left: calc(50% - $container-tablet-portrait / 2);
			right: calc(50% - $container-tablet-portrait / 2);
		}

		&__slogan {
			@include text-tablet;
		}

		&__image-box {

			&_desktop,
			&_laptop,
			&_phone-landscape,
			&_phone {
				display: none;
			}

			&_tablet-portrait {
				display: block;
				position: absolute;
				right: 0;
			}
		}
	}
}

@media (max-width: $container-tablet-portrait) {
	.intro {
		height: 309px;
		gap: 15px;

		&__title {
			@include h1-phone-landscape;
			text-align: left;
			top: 25px;
			max-width: $container-phone-landscape;
			left: calc(50% - $container-phone-landscape / 2);
			right: calc(50% - $container-phone-landscape / 2);
		}

		&__slogan {
			@include text-phone;
		}

		&__image-box {

			&_desktop,
			&_laptop,
			&_tablet-portrait,
			&_phone {
				display: none;
			}

			&_phone-landscape {
				display: block;
				position: absolute;
				right: 0;
			}
		}
	}
}

@media (max-width: $container-phone-landscape) {
	.intro {
		display: flex;
		height: 600px;
		justify-content: flex-start;
		align-items: center;
		gap: 0;
		margin-bottom: $block-margin-mobile;

		&__title {
			@include h1-phone-portrait;
			text-align: center;
			width: 343px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top: 170px;
		}

		&__sail {
			&_phone {
				top: 159px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
			}
		}

		&__image-box {

			&_desktop,
			&_laptop,
			&_tablet-portrait,
			&_phone-landscape {
				display: none;
			}

			&_phone {
				order: 1;
				display: block;
				width: 100%;
				height: 456px;
				background: center / cover no-repeat url("../images/intro-phone.jpg");
				border-radius: $border-radius;
			}
		}

		&__slogan {
			margin-top: 20px;
			margin-bottom: 40px;
			order: 2;
			text-align: center;
		}

		&__signup {
			order: 3;
		}
	}
}