.weather {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: $content-gap-large;
	height: 570px;
	margin-bottom: $block-margin-desktop;

	&__title {}

	&__image {
		grid-row: span 2;
		border-radius: $border-radius;
		background: center / cover no-repeat;
		background-image: url("../images/weather-image.jpg");
		transform: scale(-1, 1);
	}

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: $content-gap-large;
		background-color: $color-white;
		border-radius: $border-radius;

		&_title {
			@include h6-desktop;
			padding-bottom: 14px;
			line-height: 0.751;
		}

		&_text {
			@include category-card-desktop;
		}
	}

	&__article {}

	&__button-box {
		margin-top: 66px;
		display: flex;
		justify-content: space-between;
	}

	&__button {
		&_more {
			@include button-medium;
			color: $color-blue-500;

			& span {
				border-bottom: 1px solid $color-blue-500;
			}
		}
	}

	&__signup {
		&_text {
			white-space: nowrap;
		}
	}

	&__radio-box {
		margin-bottom: 26px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		border: 1.5px solid $color-blue-500;
		border-radius: 50px;
		box-sizing: border-box;
		padding: 0 6px;
		gap: 10px;
		list-style: none;
		isolation: isolate;
		height: 57px;
		width: 357px;
	}

	&__radio-box:after {
		content: "";
		$radio-after-height: 45px;
		height: $radio-after-height;
		position: absolute;
		top: calc(50% - $radio-after-height / 2);
		border-radius: 50px;
		background-color: $color-blue-500;
		z-index: -1;
		transition: 0.2s ease;
	}

	&__radio-box:has(#one:checked):after {
		left: 6px;
		width: 93px;
	}

	&__radio-box:has(#two:checked):after {
		left: 109px;
		width: 123px;
	}

	&__radio-box:has(#three:checked):after {
		left: 242px;
		width: 107px;
	}

	&__radio-item {}
}

.radio-label {
	@include pills-medium;
	cursor: pointer;
	padding: 16px 30px;
}

.radio-input {
	display: none;
}

:checked+.radio-label {
	color: $color-white;
}


//media laptop 
@media (max-width: $container-desktop) {
	.weather {
		height: 462px;
		margin-bottom: $block-margin-laptop;

		&__content {
			padding: 26px;

			&_title {
				@include h6-laptop;
				padding-bottom: 12px;
			}

			&_text {
				@include category-card-laptop;
			}
		}

		&__article {}

		&__button-box {
			margin-top: 17px;
		}

		&__button {
			&_more {
				@include button-small;
			}
		}

		&__signup {
			&_text {
				@include button-small;
			}
		}

		&__radio-box {
			margin-bottom: 20px;
			padding: 0 4px;
			gap: 6px;
			height: 41px;
			width: 245px;
		}

		&__radio-box:after {
			$radio-after-height: 33px;
			height: $radio-after-height;
			top: calc(50% - $radio-after-height / 2);
		}

		&__radio-box:has(#one:checked):after {
			left: 4px;
			width: 63px;
		}

		&__radio-box:has(#two:checked):after {
			left: 74px;
			width: 85px;
		}

		&__radio-box:has(#three:checked):after {
			left: 165px;
			width: 74px;
		}
	}

	.radio-label {
		@include pills-extra-small;
		padding: 12px 20px;
	}
}


//media tablet-portrait
@media (max-width: $container-laptop) {
	.weather {
		gap: $content-gap-medium;
		margin-bottom: $block-margin-tablet;
		grid-template-rows: 254px 163px;
		height: auto;

		&__image {
			grid-row: span 1;
		}

		&__content {
			padding: 18px;
			justify-content: space-between;

			&_title {
				@include h6-tablet;
				padding-bottom: 10px;
			}

			&_wide {
				grid-column: span 2;
			}

			&_text {
				@include category-card-tablet;
			}
		}

		&__button-box {
			margin-top: 0;
		}

		&__button {
			&_more {
				@include button-small;
			}
		}

		&__signup {
			&_text {
				@include button-small;
			}
		}

		&__radio-box {
			margin-bottom: 0;
			padding: 0 4px;
			gap: 6px;
			height: 41px;
			width: 245px;
		}
	}

	.radio-label {
		@include pills-extra-small;
		padding: 12px 20px;
	}
}


//media phone-landscape
@media (max-width: $container-tablet-portrait) {
	.weather {
		gap: $content-gap-small;
	}
}


//media phone
@media (max-width: $container-phone-landscape) {
	.weather {
		margin-bottom: $block-margin-mobile;
		grid-template: none;

		&__image {
			height: 170px;
		}

		&__content {

			&_title {
				padding-bottom: 8px;
			}

			&_wide {
				grid-column: 1;
			}
		}

		&__radio-box {
			margin-bottom: 12px;
		}

		&__button_more {}

		&__button-box {
			margin-top: 16px;
			flex-wrap: wrap;
		}

		&__signup {}
	}
}

@media (max-width: 452px) {
	.weather {

		&__button-box {
			justify-content: flex-start;
			padding-bottom: 40px;
			position: relative;
		}

		&__button_more {}

		&__signup {
			position: absolute;
			right: 0;
			top: 40px;
		}
	}
}