@font-face {
	font-family: 'Bebas Neue';
	src: url(../fonts/BebasNeueBold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: url(../fonts/NotoSans-Regular.woff2) format('woff2');
	font-display: swap;
}