.container-desktop {
	max-width: $container-desktop;
}

.container-laptop {
	max-width: $container-laptop;
}

.container-100 {
	max-width: $container-100;
}

.center {
	padding-left: calc(50% - $container-desktop / 2);
	padding-right: calc(50% - $container-desktop / 2);
}

body {
	background-color: $color-white-blue;
}

h3,
h5,
h6 {
	font-weight: 700;
	font-family: 'Noto Sans';
	color: $color-dark-blue;
}

h1,
h2,
h4 {
	font-weight: 700;
	font-family: 'Bebas Neue';
	color: $color-dark-blue;
}

p {
	font-family: 'Noto Sans';
	color: $color-dark-blue;
}

a {
	text-decoration: none;
}

@keyframes logo {

	10% {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(30deg);
	}

	75% {
		transform: rotate(-15deg);
	}

	85% {
		transform: rotate(10deg);
	}

	95% {
		transform: rotate(-5deg);
	}
}

.logo {
	display: flex;
	align-items: center;
	gap: 6px;

	&__text {
		font-family: 'Bebas Neue';
		font-weight: 700;
		font-size: 17px;
		line-height: 88%;
		width: 64px;
		color: $color-dark-blue;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background: $color-red-500;
		position: relative;

		&::after {
			position: absolute;
			content: "";
			width: 60%;
			height: 60%;
			border: 1px solid $color-white;
			border-radius: 50%;
		}
	}

	&:hover &__image {
		animation: logo .8s ease-in-out;
	}
}

.phone-number {
	font-family: 'Noto Sans';
	font-size: 14px;
	line-height: 130%;
}

.text-accent {
	color: $color-blue-500;
}

.visually-hidden {
	visibility: hidden;
	position: absolute;
	left: -99999px;
}

img {
	pointer-events: none;
}

.button-signup {
	@include button-medium;
	display: flex;
	justify-content: space-between;
	gap: 6px;
	color: $color-red-500;
}