.container-desktop {
	max-width: $container-desktop;
}

.container-laptop {
	max-width: $container-laptop;
}

.center {
	margin-left: calc(50% - $container-desktop / 2);
	margin-right: calc(50% - $container-desktop / 2);
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

body {
	background-color: $color-white-blue;
}

h3,
h5,
h6 {
	font-weight: 700;
	font-family: 'Noto Sans';
	color: $color-dark-blue;
}

h1,
h2,
h4 {
	font-weight: 700;
	font-family: 'Bebas Neue';
	color: $color-dark-blue;
}

p {
	font-family: 'Noto Sans';
	color: $color-dark-blue;
}

a {
	text-decoration: none;
}

@keyframes logo {

	10% {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(30deg);
	}

	75% {
		transform: rotate(-15deg);
	}

	85% {
		transform: rotate(10deg);
	}

	95% {
		transform: rotate(-5deg);
	}
}

.logo {
	display: flex;
	align-items: center;
	gap: 6px;

	&__text {
		font-family: 'Bebas Neue';
		font-weight: 700;
		font-size: 17px;
		line-height: 88%;
		width: 64px;
		color: $color-dark-blue;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background: $color-red-500;
		position: relative;

		&::after {
			position: absolute;
			content: "";
			width: 60%;
			height: 60%;
			border: 1px solid $color-white;
			border-radius: 50%;
		}
	}

	&:hover &__image {
		animation: logo .8s ease-in-out;
	}
}

.phone-number {
	font-family: 'Noto Sans';
	font-size: 14px;
	line-height: 130%;
}

.text-accent {
	color: $color-blue-500;
}

.visually-hidden {
	visibility: hidden;
	position: absolute;
	left: -99999px;
}

img {
	pointer-events: none;
}

.button-signup {
	@include button-medium;
	display: flex;
	justify-content: space-between;
	gap: 6px;
	color: $color-red-500;
}

// стили для текстового блока (два одинаковых)

.description-block {
	margin-bottom: $block-margin-desktop;

	&__title {
		@include h2-desktop;
		text-indent: 300px;
		margin-bottom: 80px;
	}

	&__line {
		white-space: nowrap;
	}

	&__info-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__info {
		display: flex;
		gap: $content-gap-large;
		@include text-desktop;
	}

	&__info-1 {
		width: 270px;

		&_certificates {
			width: 370px;
		}
	}

	&__info-2 {
		width: 500px;

		&_certificates {
			width: 370px;
		}
	}

	&__more {
		@include button-medium-design;
	}
}

//laptop-media
@media (max-width: $container-desktop) {
	.description-block {
		margin-bottom: $block-margin-laptop;

		&__title {
			@include h2-laptop;
			text-indent: 247px;
			margin-bottom: 70px;
		}

		&__info {
			@include text-laptop;
		}

		&__info-1 {
			width: 216px;

			&_certificates {
				width: 350px;
			}
		}

		&__info-2 {
			width: 483px;

			&_certificates {
				width: 350px;
			}
		}

		&__more {
			@include button-small-design;
		}
	}
}

// tablet-media
@media (max-width: $container-laptop) {
	.description-block {
		margin-bottom: $block-margin-tablet;

		&__title {
			@include h2-tablet;
			text-indent: 0;
			margin-bottom: 60px;
		}

		&__info {
			@include text-tablet;
			gap: $content-gap-medium;
		}

		&__info-1 {
			width: 162px;

			&_certificates {
				width: 251px;
			}
		}

		&__info-2 {
			width: 348px;

			&_certificates {
				width: 251px;
			}
		}
	}
}

// phone-horizontal-media
@media (max-width: $container-tablet-portrait) {
	.description-block {

		&__title {
			@include h2-phone-landscape;
			margin-bottom: 40px;
		}

		&__info-container {
			flex-wrap: wrap
		}

		&__info {
			margin-bottom: 30px;
			@include text-phone;
		}

		&__info-1 {
			width: 213px;

			&_certificates {
				width: 297px;
			}
		}

		&__info-2 {
			width: 381px;

			&_certificates {
				width: 297px;
			}
		}
	}
}

// phone-media
@media (max-width: $container-phone-landscape) {
	.description-block {

		&__title {
			@include h2-phone-portrait;
			width: 100%;
		}

		&__info-container {
			flex-direction: column;
			align-items: flex-start;
		}

		&__info {
			flex-direction: column;
			gap: 16px;
			@include text-phone;
		}

		&__info-1,
		&__info-2 {
			width: 100%;

			&_certificates {
				width: 100%;
			}
		}
	}
}


// стили для чекбокса

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	margin: 0;
	padding: 0;
}

.fake-checkbox {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border: 1px solid $color-blue-100;
	position: relative;
	padding: 2px;

	&__image {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
	}
}

input[type="checkbox"]:checked+.fake-checkbox {
	border: 1px solid $color-blue-500;
}

input[type="checkbox"]:focus+.fake-checkbox {
	border: 1px solid $color-blue-500;
	box-shadow: 0 0 0 3px $color-blue-100;
}

input[type="checkbox"]:hover+.fake-checkbox {
	border: 1px solid $color-blue-500;
}

.link-effects {
	&:hover {
		color: $color-blue-400;
	}

	&:focus {
		box-shadow: 0 0 0 3px $color-blue-100;
		background: $color-blue-50;
		outline: none;
	}

	&:active {
		color: $color-blue-600;
	}
}

@media (max-width: $container-desktop) {
	.center {
		margin-left: calc(50% - $container-laptop / 2);
		margin-right: calc(50% - $container-laptop / 2);
	}
}

@media (max-width: $container-laptop) {
	.center {
		margin-left: calc(50% - $container-tablet-portrait / 2);
		margin-right: calc(50% - $container-tablet-portrait / 2);
	}
}

@media (max-width: $container-tablet-portrait) {
	.center {
		margin-left: calc(50% - $container-phone-landscape / 2);
		margin-right: calc(50% - $container-phone-landscape / 2);
	}
}

@media (max-width: $container-phone-landscape) {
	.center {
		margin-left: 16px;
		margin-right: 16px;
	}
}


@media (max-width: $container-phone-landscape) {

	p,
	span,
	h2,
	h3 {
		max-width: 340px;
	}
}