@mixin fluid-text($max: 48, $min: 16) {
	font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin button-medium-design {
	background-color: $color-red-500;
	color: $color-white;
	border: none;
	border-radius: $border-radius;
	@include button-medium;
	padding: $button-padding-desktop-y $button-padding-desktop-x;

	&:hover {
		background-color: $color-red-400;
	}

	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 5px $color-red-100;
	}

	&:active {
		background-color: $color-red-600;
	}

	&:disabled {
		background-color: $color-light-grey;
		color: $color-dark-grey;
	}
}

@mixin button-small-design {
	@include button-medium-design;
	@include button-small;
	padding: $button-padding-y $button-padding-x;
}



//input

@mixin input-style {
	padding: $input-padding;
	border: 1px solid $color-blue-50;
	max-height: 47px;
	width: 100%;
	border-radius: $border-radius;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	@include category-card-desktop;

	&::placeholder {
		opacity: 0.3;
	}

	&:focus {
		outline: none;
		box-shadow: inset 0 0 0 3px $color-blue-100;
	}

	&:active {}

	&:disabled {}
}

// checkbox

@mixin h1-desktop {
	font-size: 180px;
	text-transform: uppercase;
	line-height: normal;
}

@mixin h2-desktop {
	font-size: 96px;
	line-height: 96%;
}

@mixin h4-desktop {
	font-size: 40px;
	line-height: 120%;
}

@mixin h1-laptop {
	font-size: 150px;
	text-transform: uppercase;
}

@mixin h2-laptop {
	font-size: 75px;
	line-height: 96%;
}

@mixin h4-laptop {
	font-size: 40px;
	line-height: 120%;
}

@mixin h1-tablet {
	font-size: 110px;
	text-transform: uppercase;
}

@mixin h2-tablet {
	font-size: 58px;
	line-height: 96%;
}

@mixin h4-tablet {
	font-size: 30px;
	line-height: 120%;
}

@mixin h1-phone-landscape {
	font-size: 88px;
	line-height: 100%;
	text-transform: uppercase;
}

@mixin h2-phone-landscape {
	font-size: 45px;
	line-height: 96%;
}

@mixin h4-phone-landscape {
	font-size: 24px;
	line-height: 120%;
}

@mixin h1-phone-portrait {
	font-size: 54px;
	text-transform: uppercase;
}

@mixin h2-phone-portrait {
	font-size: 29px;
	line-height: 96%;
}

@mixin h4-phone-portrait {
	font-size: 24px;
	line-height: 120%;
}


// weqew

@mixin h3-desktop {
	font-size: 28px;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin h5-desktop {
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin h6-desktop {
	font-size: 24px;
	line-height: 120%;
}

@mixin h3-laptop {
	font-size: 26px;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin h5-laptop {
	font-size: 18px;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin h6-laptop {
	font-size: 20px;
	line-height: 120%;
}

@mixin h3-tablet {
	font-size: 20px;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin h5-tablet {
	font-size: 15px;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin h6-tablet {
	font-size: 16px;
	line-height: 120%;
}

@mixin h3-phone-landscape {
	font-size: 15px;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin h5-phone-landscape {
	font-size: 14px;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin h6-phone-landscape {
	font-size: 15px;
	line-height: 120%;
}

@mixin h3-phone-portrait {
	font-size: 15px;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin h5-phone-portrait {
	font-size: 14px;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin h6-phone-portrait {
	font-size: 15px;
	line-height: 120%;
}


//body 

@mixin text-desktop {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 18px;
	line-height: 138%;
	color: $color-dark-blue;
}

@mixin text-laptop {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: $color-dark-blue;
}

@mixin text-tablet {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: $color-dark-blue;
}

@mixin text-phone {
	@include text-tablet;
}

@mixin category-card-desktop {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: $color-black;
}

@mixin category-card-laptop {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: $color-black;
}


//button

@mixin button-medium {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
}

@mixin button-small {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 13px;
	line-height: 138%;
}




// accent-numbers

@mixin accent-numbers-desktop {
	font-family: 'Bebas Neue';
	font-weight: 700;
	font-size: 70px;
	color: $color-dark-blue;
}

@mixin accent-numbers-tablet {
	font-family: 'Bebas Neue';
	font-weight: 700;
	font-size: 44px;
	color: $color-dark-blue;
}

@mixin accent-numbers-phone {
	font-family: 'Bebas Neue';
	font-weight: 700;
	font-size: 38px;
	color: $color-dark-blue;
}

// caption

@mixin caption-hint-desktop {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 13px;
	color: $color-dark-blue;
}

@mixin caption-hint-tablet {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 12px;
	color: $color-dark-blue;
}

@mixin caption-label-desktop {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 14px;
	color: $color-black;
}


// pills

@mixin pills-medium {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	color: $color-dark-blue;
}