// colors

$color-red-50: #FFE5E5;
$color-red-100: #FFB6B6;
$color-red-400: #FB2525;
$color-red-500: #D00000;
$color-red-600: #A61010;

$color-blue-50: #EAF4FB;
$color-blue-100: #C2DEF0;
$color-blue-400: #3BA9F2;
$color-blue-500: #2892D7;
$color-blue-600: #136BA5;

$color-white: #FBFBFB;
$color-white-blue: #EBF0FA;
$color-dark-blue: #373F51;
$color-light-grey: #D9D9D9;
$color-dark-grey: #7E7E7E;
$color-black: #2B2B2B;

// button

$button-padding-desktop-x: 26px;
$button-padding-desktop-y: 16px;

$button-padding-x: 24px;
$button-padding-y: 14px;

// block

$block-margin-desktop: 150px;
$block-margin-laptop: 130px;
$block-margin-tablet: 110px;
$block-margin-mobile: 90px;

// container

$container-desktop: 1170px;
$container-laptop: 954px;
$container-100: 100%;

$container-margin-tablet: 24px;
$container-margin-mobile-landscape: 18px;
$container-margin-mobile: 16px;

// content

$content-gap-large: 30px;
$content-gap-medium: 24px;
$content-gap-small: 16px;

// nav

$top-navigation-gap: 24px;
$bottom-navigation-gap: 24px;

// elements-radius

$border-radius: 7px;