@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	 Упрощаем работу с изображениями
	*/
img {
  display: block;
  max-width: 100%;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  	 Пригодится в большинстве ситуаций
  	 (когда, например, нужно будет "прижать" футер к низу сайта)
  	*/
  height: 100%;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
  	 Пригодится в большинстве ситуаций
  	 (когда, например, нужно будет "прижать" футер к низу сайта)
  	*/
  min-height: 100%;
  /**
  	 Унифицированный интерлиньяж
  	*/
  line-height: 1.5;
}

/**
	 Приводим к единому цвету svg-элементы
	*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
  transition-property: fill, stroke;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeueBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-Regular.woff2) format("woff2");
  font-display: swap;
}
.container-desktop {
  max-width: 1170px;
}

.container-laptop {
  max-width: 954px;
}

.center {
  margin-left: calc(50% - 585px);
  margin-right: calc(50% - 585px);
}

body {
  background-color: #EBF0FA;
}

h3,
h5,
h6 {
  font-weight: 700;
  font-family: "Noto Sans";
  color: #373F51;
}

h1,
h2,
h4 {
  font-weight: 700;
  font-family: "Bebas Neue";
  color: #373F51;
}

p {
  font-family: "Noto Sans";
  color: #373F51;
}

a {
  text-decoration: none;
}

@keyframes logo {
  10% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-5deg);
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo__text {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 17px;
  line-height: 88%;
  width: 64px;
  color: #373F51;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #D00000;
  position: relative;
}
.logo__container::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 60%;
  border: 1px solid #FBFBFB;
  border-radius: 50%;
}
.logo:hover .logo__image {
  animation: logo 0.8s ease-in-out;
}

.phone-number {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 130%;
}

.text-accent {
  color: #2892D7;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  left: -99999px;
}

img {
  pointer-events: none;
}

.button-signup {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  color: #D00000;
}

.description-block {
  margin-bottom: 150px;
}
.description-block__title {
  font-size: 96px;
  line-height: 96%;
  text-indent: 300px;
  margin-bottom: 80px;
}
.description-block__line {
  white-space: nowrap;
}
.description-block__info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.description-block__info {
  display: flex;
  gap: 30px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  color: #373F51;
}
.description-block__info-1 {
  width: 270px;
}
.description-block__info-1_certificates {
  width: 370px;
}
.description-block__info-2 {
  width: 500px;
}
.description-block__info-2_certificates {
  width: 370px;
}
.description-block__more {
  background-color: #D00000;
  color: #FBFBFB;
  border: none;
  border-radius: 7px;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 16px 26px;
}
.description-block__more:hover {
  background-color: #FB2525;
}
.description-block__more:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #FFB6B6;
}
.description-block__more:active {
  background-color: #A61010;
}
.description-block__more:disabled {
  background-color: #D9D9D9;
  color: #7E7E7E;
}

@media (max-width: 1170px) {
  .description-block {
    margin-bottom: 130px;
  }
  .description-block__title {
    font-size: 75px;
    line-height: 96%;
    text-indent: 247px;
    margin-bottom: 70px;
  }
  .description-block__info {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #373F51;
  }
  .description-block__info-1 {
    width: 216px;
  }
  .description-block__info-1_certificates {
    width: 350px;
  }
  .description-block__info-2 {
    width: 483px;
  }
  .description-block__info-2_certificates {
    width: 350px;
  }
  .description-block__more {
    background-color: #D00000;
    color: #FBFBFB;
    border: none;
    border-radius: 7px;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    padding: 16px 26px;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    padding: 14px 24px;
  }
  .description-block__more:hover {
    background-color: #FB2525;
  }
  .description-block__more:focus-visible {
    outline: none;
    box-shadow: 0 0 0 5px #FFB6B6;
  }
  .description-block__more:active {
    background-color: #A61010;
  }
  .description-block__more:disabled {
    background-color: #D9D9D9;
    color: #7E7E7E;
  }
}
@media (max-width: 954px) {
  .description-block {
    margin-bottom: 110px;
  }
  .description-block__title {
    font-size: 58px;
    line-height: 96%;
    text-indent: 0;
    margin-bottom: 60px;
  }
  .description-block__info {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #373F51;
    gap: 24px;
  }
  .description-block__info-1 {
    width: 162px;
  }
  .description-block__info-1_certificates {
    width: 251px;
  }
  .description-block__info-2 {
    width: 348px;
  }
  .description-block__info-2_certificates {
    width: 251px;
  }
}
@media (max-width: 720px) {
  .description-block__title {
    font-size: 45px;
    line-height: 96%;
    margin-bottom: 40px;
  }
  .description-block__info-container {
    flex-wrap: wrap;
  }
  .description-block__info {
    margin-bottom: 30px;
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #373F51;
  }
  .description-block__info-1 {
    width: 213px;
  }
  .description-block__info-1_certificates {
    width: 297px;
  }
  .description-block__info-2 {
    width: 381px;
  }
  .description-block__info-2_certificates {
    width: 297px;
  }
}
@media (max-width: 610px) {
  .description-block__title {
    font-size: 29px;
    line-height: 96%;
    width: 100%;
  }
  .description-block__info-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .description-block__info {
    flex-direction: column;
    gap: 16px;
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #373F51;
  }
  .description-block__info-1, .description-block__info-2 {
    width: 100%;
  }
  .description-block__info-1_certificates, .description-block__info-2_certificates {
    width: 100%;
  }
}
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.fake-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #C2DEF0;
  position: relative;
  padding: 2px;
  box-sizing: border-box;
}
.fake-checkbox__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0;
}

input[type=checkbox]:checked + .fake-checkbox {
  border: 1px solid #2892D7;
}

input[type=checkbox]:focus + .fake-checkbox {
  border: 1px solid #2892D7;
  box-shadow: 0 0 0 3px #C2DEF0;
}

input[type=checkbox]:hover + .fake-checkbox {
  border: 1px solid #2892D7;
}

.link-effects:hover {
  color: #3BA9F2;
}
.link-effects:focus {
  box-shadow: 0 0 0 3px #C2DEF0;
  background: #EAF4FB;
  outline: none;
}
.link-effects:active {
  color: #136BA5;
}

@media (max-width: 1170px) {
  .center {
    margin-left: calc(50% - 477px);
    margin-right: calc(50% - 477px);
  }
}
@media (max-width: 954px) {
  .center {
    margin-left: calc(50% - 360px);
    margin-right: calc(50% - 360px);
  }
}
@media (max-width: 720px) {
  .center {
    margin-left: calc(50% - 305px);
    margin-right: calc(50% - 305px);
  }
}
@media (max-width: 610px) {
  .center {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.header__inner {
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ul {
  display: flex;
  gap: 24px;
}
.header__a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #2B2B2B;
}

.phone-number_top {
  color: #373F51;
  font-weight: 700;
}

#burger {
  position: absolute;
  right: 99999px;
  visibility: hidden;
}

.burger {
  display: none;
}

.burger-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.burger-1,
.burger-2,
.burger-3 {
  height: 2px;
  width: 20px;
  border-radius: 50px;
  background-color: #373F51;
  transition: 0.3s;
}

#burger:not(:checked) + label .burger-1 {
  transform: translateY(300%) rotate(45deg);
}

#burger:not(:checked) + label .burger-2 {
  transform: rotate(-45deg);
  scale: 0;
  opacity: 0;
}

#burger:not(:checked) + label .burger-3 {
  transform: translateY(-300%) rotate(-45deg);
}

@media (max-width: 720px) {
  .burger {
    display: block;
  }
  .phone-number_top,
  .header__nav {
    display: none;
  }
  .header__inner {
    padding: 10px 0;
  }
}
.intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 150px;
  position: relative;
}
.intro__title {
  font-size: 180px;
  text-transform: uppercase;
  line-height: normal;
  position: absolute;
  top: 143px;
  left: calc(50% - 585px);
  right: calc(50% - 585px);
  text-align: center;
  z-index: 1;
  line-height: 1;
  max-width: 1170px;
}
.intro__slogan {
  width: 231px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  color: #373F51;
}
.intro__image-box_desktop, .intro__image-box_laptop, .intro__image-box_tablet-portrait, .intro__image-box_phone-landscape, .intro__image-box_phone {
  position: relative;
}
.intro__image-box_laptop, .intro__image-box_tablet-portrait, .intro__image-box_phone-landscape, .intro__image-box_phone {
  display: none;
}
.intro__image {
  border-radius: 7px;
}
.intro__sail_desktop, .intro__sail_laptop, .intro__sail_tablet-portrait, .intro__sail_phone-landscape, .intro__sail_phone {
  position: absolute;
  z-index: 10;
}
.intro__sail_desktop {
  top: 135px;
  left: 115px;
}
.intro__sail_laptop {
  top: 75px;
  left: 93px;
}
.intro__sail_tablet-portrait {
  top: 49px;
  left: 70px;
}
.intro__sail_phone-landscape {
  top: 20px;
  left: 60px;
}
.intro__signup {
  background-color: #D00000;
  color: #FBFBFB;
  border: none;
  border-radius: 7px;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 16px 26px;
}
.intro__signup:hover {
  background-color: #FB2525;
}
.intro__signup:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #FFB6B6;
}
.intro__signup:active {
  background-color: #A61010;
}
.intro__signup:disabled {
  background-color: #D9D9D9;
  color: #7E7E7E;
}

@media (max-width: 1170px) {
  .intro {
    margin-bottom: 130px;
  }
  .intro__title {
    font-size: 150px;
    text-transform: uppercase;
    left: calc(50% - 477px);
    right: calc(50% - 477px);
  }
  .intro__slogan {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #373F51;
    width: 219px;
  }
  .intro__image-box_desktop, .intro__image-box_tablet-portrait {
    display: none;
  }
  .intro__image-box_laptop {
    display: block;
  }
  .intro__signup {
    background-color: #D00000;
    color: #FBFBFB;
    border: none;
    border-radius: 7px;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    padding: 16px 26px;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    padding: 14px 24px;
  }
  .intro__signup:hover {
    background-color: #FB2525;
  }
  .intro__signup:focus-visible {
    outline: none;
    box-shadow: 0 0 0 5px #FFB6B6;
  }
  .intro__signup:active {
    background-color: #A61010;
  }
  .intro__signup:disabled {
    background-color: #D9D9D9;
    color: #7E7E7E;
  }
}
@media (max-width: 954px) {
  .intro {
    margin-bottom: 110px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 25px;
    height: 430px;
  }
  .intro__title {
    font-size: 110px;
    text-transform: uppercase;
    text-align: left;
    top: 85px;
    max-width: 720px;
    left: calc(50% - 360px);
    right: calc(50% - 360px);
  }
  .intro__slogan {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #373F51;
  }
  .intro__image-box_desktop, .intro__image-box_laptop, .intro__image-box_phone-landscape, .intro__image-box_phone {
    display: none;
  }
  .intro__image-box_tablet-portrait {
    display: block;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 720px) {
  .intro {
    height: 309px;
    gap: 15px;
  }
  .intro__title {
    font-size: 88px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    top: 25px;
    max-width: 610px;
    left: calc(50% - 305px);
    right: calc(50% - 305px);
  }
  .intro__slogan {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #373F51;
  }
  .intro__image-box_desktop, .intro__image-box_laptop, .intro__image-box_tablet-portrait, .intro__image-box_phone {
    display: none;
  }
  .intro__image-box_phone-landscape {
    display: block;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 610px) {
  .intro {
    display: flex;
    height: 600px;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    margin-bottom: 90px;
  }
  .intro__title {
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    width: 343px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 170px;
  }
  .intro__sail_phone {
    top: 159px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .intro__image-box_desktop, .intro__image-box_laptop, .intro__image-box_tablet-portrait, .intro__image-box_phone-landscape {
    display: none;
  }
  .intro__image-box_phone {
    order: 1;
    display: block;
    width: 100%;
    height: 456px;
    background: center/cover no-repeat url("../images/intro-phone.jpg");
    border-radius: 7px;
  }
  .intro__slogan {
    margin-top: 20px;
    margin-bottom: 40px;
    order: 2;
    text-align: center;
  }
  .intro__signup {
    order: 3;
  }
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__container {
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}
.services__title {
  font-size: 28px;
  line-height: 110%;
  text-transform: uppercase;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(216px, 1fr));
  grid-template-rows: repeat(2, minmax(130px, 1fr));
  gap: 30px;
}
.services__category {
  background-color: #FBFBFB;
  padding: 16px 16px 71px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.services__h6 {
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 6px;
}
.services__text {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2B2B2B;
}
.services__image {
  border-radius: 7px;
  width: 570px;
  height: 570px;
  pointer-events: none;
}
.services__more {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  right: -50%;
  bottom: 16px;
  visibility: hidden;
}
.services__more_text {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #FBFBFB;
}
.services__category:hover {
  background-color: #2892D7;
}

.services__category:hover .services__more {
  visibility: visible;
  transition: 0.3s;
  right: 16px;
}

.services__category:hover .services__h6 {
  color: #FBFBFB;
}

.services__category:hover .services__text {
  color: #FBFBFB;
}

.advantages {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 150px;
}
.advantages__welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.advantages__welcome-text {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #373F51;
  max-width: 470px;
}
.advantages__button {
  background-color: #D00000;
  color: #FBFBFB;
  border: none;
  border-radius: 7px;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 16px 26px;
}
.advantages__button:hover {
  background-color: #FB2525;
}
.advantages__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #FFB6B6;
}
.advantages__button:active {
  background-color: #A61010;
}
.advantages__button:disabled {
  background-color: #D9D9D9;
  color: #7E7E7E;
}
.advantages__statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.advantages__statistics-text {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  color: #373F51;
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 270px));
  grid-template-rows: repeat(2, minmax(77px, 51px));
  gap: 30px;
}
.advantages__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages__number {
  line-height: normal;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 70px;
  color: #373F51;
  line-height: 0.8;
}
.advantages__number-text {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 13px;
  color: #373F51;
}

.weather {
  display: flex;
  gap: 30px;
  height: 570px;
  margin-bottom: 150px;
}
.weather__image {
  border-radius: 7px;
}
.weather__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.weather__content_title {
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 14px;
  line-height: 0.751;
}
.weather__content_text {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2B2B2B;
}
.weather__content-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: #FBFBFB;
  border-radius: 7px;
}
.weather__button-box {
  display: flex;
  justify-content: space-between;
}
.weather__button_more {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #2892D7;
  border-bottom: 1px solid #2892D7;
}
.weather__signup_text {
  white-space: nowrap;
}
.weather__radio-box {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1.5px solid #2892D7;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 0 6px;
  gap: 10px;
  list-style: none;
  isolation: isolate;
  height: 57px;
  width: 357px;
}
.weather__radio-box:after {
  content: "";
  height: 45px;
  position: absolute;
  top: calc(50% - 22.5px);
  border-radius: 50px;
  background-color: #2892D7;
  z-index: -1;
  transition: 0.2s ease;
}
.weather__radio-box:has(#one:checked):after {
  left: 6px;
  width: 93px;
}
.weather__radio-box:has(#two:checked):after {
  left: 109px;
  width: 123px;
}
.weather__radio-box:has(#three:checked):after {
  left: 242px;
  width: 107px;
}
.radio-label {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #373F51;
  cursor: pointer;
  padding: 16px 30px;
}

.radio-input {
  display: none;
}

:checked + .radio-label {
  color: #FBFBFB;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 150px;
}
.form input[type=text], .form input[type=tel], .form input[type=email] {
  padding: 13px 14px;
  border: 1px solid #EAF4FB;
  max-height: 47px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2B2B2B;
}
.form input[type=text]::-moz-placeholder, .form input[type=tel]::-moz-placeholder, .form input[type=email]::-moz-placeholder {
  opacity: 0.3;
}
.form input[type=text]::placeholder, .form input[type=tel]::placeholder, .form input[type=email]::placeholder {
  opacity: 0.3;
}
.form input[type=text]:focus, .form input[type=tel]:focus, .form input[type=email]:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #C2DEF0;
}
.form__title {
  font-size: 28px;
  line-height: 110%;
  text-transform: uppercase;
}
.form__image {
  border-radius: 7px;
}
.form__form {
  grid-area: 1/2/span 2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}
.form__input {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form__input-box div:nth-child(3), .form__input-box div:nth-child(4) {
  grid-column: span 1;
}
.form__label {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  color: #2B2B2B;
}
.form__button-box {
  display: flex;
  justify-content: space-between;
}
.form__checkbox-box {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 13px;
  color: #373F51;
}
.form__checkbox-box label {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}
.form__input-text {
  opacity: 0.3;
  max-width: 300px;
}
.form__button {
  background-color: #D00000;
  color: #FBFBFB;
  border: none;
  border-radius: 7px;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 16px 26px;
}
.form__button:hover {
  background-color: #FB2525;
}
.form__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #FFB6B6;
}
.form__button:active {
  background-color: #A61010;
}
.form__button:disabled {
  background-color: #D9D9D9;
  color: #7E7E7E;
}
.form__politicy {
  text-decoration: underline;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 13px;
  color: #373F51;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 150px;
}
.contacts__content {
  padding: 30px;
  background: #FBFBFB;
  border-radius: 7px;
}
.contacts__title {
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 13px;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contacts__info-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.contacts__info-small {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  color: #2B2B2B;
  opacity: 0.6;
}
.contacts__info-large {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  color: #373F51;
  max-width: 240px;
}
.contacts__button {
  background-color: #D00000;
  color: #FBFBFB;
  border: none;
  border-radius: 7px;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 16px 26px;
  margin-top: 27px;
}
.contacts__button:hover {
  background-color: #FB2525;
}
.contacts__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #FFB6B6;
}
.contacts__button:active {
  background-color: #A61010;
}
.contacts__button:disabled {
  background-color: #D9D9D9;
  color: #7E7E7E;
}
.contacts__map {
  grid-column: 2/span 2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #C2DEF0;
  border-radius: 7px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 30px;
}
.footer__content a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  color: #373F51;
}
.footer__h6 {
  font-size: 13px;
  color: #2B2B2B;
  padding-bottom: 12px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__adress-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 193px;
}
.footer__adress {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  color: #373F51;
}
.footer__socials-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__socials-list {
  padding-top: 6px;
  display: flex;
  gap: 9px;
}
.footer__politicy {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: #2B2B2B;
  opacity: 0.6;
}

.logo_bottom {
  align-self: flex-start;
}/*# sourceMappingURL=style.css.map */